<% include partials/_head %>

<% include partials/_header %>

    <a href="/urls/new">Create Tiny URL</a>
    <ul>
    <% for (var url in urls) { %>
        <li><%= url %> - <%= urls[url] %>
          <br>
          <a href=<%= `/urls/${url}` %>>Edit</a>
          <form action=<%= `/urls/${url}/delete` %> method="POST">
            <input type="hidden" name="shortURL" value=<%= `${url}` %>>
            <input type="submit" value="DELETE">
          </form>
        </li>
      <% } %>
    </ul>

<% include partials/_footer %>