<% include partials/_head %>

<% include partials/_header %>

    <a href="/urls/new">Create Tiny URL</a>
    <ul>
    <% for (var url in urls) { %>

          <br>

          <form action=<%= `/urls/${url}/delete` %> method="POST">
            <li><%= urls[url].shortURL %> - <%= urls[url].longURL %>
            <a href=<%= `/urls/${urls[url].shortURL}` %>>Edit</a>
            <input type="hidden" name="shortURL" value=<%= `${urls[url].shortURL}` %>>
            <input type="submit" value="DELETE">
            </li>
          </form>

      <% } %>
    </ul>

<% include partials/_footer %>