<% include partials/_head %>

<% include partials/_header %>

<% if (error !== "") { %>
  <p class="errorMessage"><%= error %></p>

<% } %>

<h2 class="positionMyURLS">My URLs</h2>

  <section class="positionTable">
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Visits</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for (var url in urls) { %>
          <tr>
            <td><%= urls[url].longURL %></td>
            <td><%= url %></td>
            <td><%= urls[url].clickCount %></td>
            <td><a href=<%= `/urls/${url}` %> class="button editButton">Edit</a></td>
            <td><form class="deleteButton" action=<%= `/urls/${url}/delete` %> method="POST">
            <input type="hidden" name="shortURL" value=<%= `${url}` %>>
            <input type="submit" value="DELETE">
            </form></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </section>

<% include partials/_footer %>